<div class='list'>
  <ul>{{#each highscoresList}}
      <li class='li'>
        <div>
          Name:
          {{this.name}}
        </div>
        <div>
          Time:
          {{this.timeMinutes}}:{{this.timeSeconds}}
        </div>
        <div>
          Guesses:
          {{this.guesses}}
        </div>
        <div>
          Length:
          {{this.length}}
        </div>
        <div>
          Unique:
          {{this.unique}}
        </div>
        <div>
          Date:
          {{this.date}}
        </div>
        <div class='border'></div>
      </li>
    {{/each}}
  </ul>
</div>