<ul>{{#each highscoresList}}
    <li>
      <h4>Name:</h4>
      <span>{{this.name}}</span>
      <h4>Guesses:</h4>
      <span>{{this.guesses}}</span>
      <h4>Time:</h4>
      <span>{{this.time}}</span>
      <h4>Length</h4>
      <span>{{this.length}}</span>
      <h4>Unique:</h4>
      <span>{{this.unique}}</span>
      <h4>Date:</h4>
      <span>{{this.date}}</span>
      <div class='border'>--------</div>
    </li>
  {{/each}}
</ul>